@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;0,700;1,400&display=swap'); */

:root {
  --color-body: #b6cbce;
  --color-heading: #eef3db;
  --color-base: #033f47;
  --color-base2: #022a30;
  --color-brand: #e0f780;
  --color-brand2: #deff58;
  --sidbar-width: 240px;
  --font-base: "Bai Jamjuree";
}

body {
    background-color:#022a30;          /*var(--color-base2)*/
    color: #b6cbce;                     /*var( --color-body)*/
    font-family:  "Bai Jamjuree", sans-serif;     /*var(--font-base)*/
}

h1,h2,h3,h4,h5,h6{
    color:#eef3db;     /*var( --color-heading)*/
    font-weight: 700;
}

a{
    text-decoration: none;
    color:#b6cbce;         /*var( --color-body)*/
    transition: all 0.4 ease;
}

a:hover{
    color:  #d3d600;
}

img{
    width: 100%;
}

.text-brand{
  color: #d3d600 ;
}

.bg-base{
  background-color: #033f47;
}

.full-height{
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}


.shadow-effect{
  transition: all 0.5s;

}

.shadow-effect:hover{
  box-shadow: -6px 6px 0 0 #d3d600;
  
}

.iconbox{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  background-color: #d3d600;
  color: #033f47;
  
}

/* NAVBAR */

.navbar{
  background-color:#033f47 ;      /*var(--color-base)*/
}

.navbar .nav-link{
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.navbar .nav-link:hover{
  color: #d3d600;
}

.navbar .nav-link.active{
  color: #d3d600;
}

@media(min-width: 992px){
  .navbar{
      min-height: 100vh;
      width: 240px;                 /*var(--sidbar-width)*/
      background: linear-gradient(rgba(3, 63, 71, 0.8),rgba(3, 63, 71, 0.8)), url('../images/sidebar-img.jpg');
      background-size: cover;
      background-position: center;
  }

  .navbar-brand img{
    border: 7px solid #d3d600;
  }


  /* CONTENT */
  #content-wrapper{
    padding-left: 240px;
  }

}

.btn{
  padding: 12px 28px;
  font-weight: 700;
}

.btn-brand{
  background-color: #d3d600;
  border-color: #d3d600;
  color: #222222;
}

.btn-brand:hover,.btn-brand:focus{
  background-color: #a7aa05;
  color:  #222222;
  border-color: #a7aa05;
}


.link-custom{
  font-weight: 700;
  position: relative;
}

.link-custom::after{
  content: "";
  width:0%;
  height: 2px;
  background-color: #d3d600;
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;

}

.link-custom:hover::after{
  width: 100%;
}



/* WORK-Card */
.card-custom .card-custom-image{
  overflow: hidden;
}

.card-custom .card-custom-image img{
  transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img{
  transform: scale(1.2);
}



/* CONTACT */
#contact .form-control{
  background-color: #033f47;
  border-color: #033f47;
  color: #b6cbce;
}

#contact .form-control::placeholder{
  color: #b6cbce;
}


#contact .form-control:focus{
  border-color: #d3d600;
}


/* SOCIAL ICONS */

.social-icons{
  
}

.social-icons a{
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #033f47;
  border-radius: 60px;
  font-size: 30px;
  color: #d3d600;
}

.social-icons a:hover{
  background-color: #d3d600;
  color: #292929;
}


